
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-snapchat:before { content: '\f2ac'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */